### Importing the library

In [38]:
import sqlite3
import pandas as pd

### Setting Up Database Connection and Cursor

In [39]:
connection = sqlite3.connect("kucher.db")
cursor=connection.cursor()

### Loading the CSV Data into DataFrame

In [40]:
df = pd.read_csv('C:\\Users\\HP\\Desktop\\hi\\combined_csv.csv')
#df.to_sql("D1", connection, if_exists='append', index=False)
#df = pandas.read_csv('C:\\Users\\HP\\Desktop\\kucher\\D2.csv')
#df.to_sql("D2", connection, if_exists='append', index=False)
#df = pandas.read_csv('C:\\Users\\HP\\Desktop\\kucher\\D3.csv')
#df.to_sql("D3", connection, if_exists='append', index=False)

C:\Users\HP\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

### Committing Changes to the Database

In [41]:
connection.commit()

### Displaying the DataFrame

In [42]:
df

,Point_de_Vente,Numero_TPV,Numero_Transaction,Date_Transaction,Heure,Typologie_Magasin,Numero_Fidelite,Type_de_Vente,Univers_Produit,Segment_Produit,...,Fedas_Numero,Fedas_Libelle,Cible_Genre_Age,Modele_Couleur_Ref,Modele_Couleur_Libelle,Type_de_vente_NPS,Quantite_Vendue,CA_Net_TTC,CA_Net_HT,Marge_Nette_Magasin
0,PDV-id-00562,TPV_783,TID000002834579,31/01/2022,16:00:00,Typologie_Magasin_05,N_2563125,TV3,CL1_9,CL2_51,...,FedasNum2138,FedasLib522,CGA6,MCR37031,MCL63642,NPS3,1,"23,035,092,548,305,200","18,714,557,910,757,400","68,160,272,144,355,400"
1,PDV-id-00240,TPV_769,TID000002759437,31/01/2022,18:00:00,Typologie_Magasin_05,N_1420193,TV3,CL1_9,CL2_51,...,FedasNum2138,FedasLib522,CGA6,MCR173774,MCL103648,NPS3,1,"36,846,934,040,269,100","29,936,105,116,967,700","68,983,961,233,713,200"
2,PDV-id-00173,TPV_610,TID000006033571,31/01/2022,15:00:00,Typologie_Magasin_05,NaN,TV3,CL1_9,CL2_51,...,FedasNum2138,FedasLib522,CGA6,MCR173774,MCL103648,NPS3,1,"29,484,918,461,830,700","23,961,462,289,001,500",5.15E+14
3,PDV-id-00400,TPV_586,TID0000048672,31/01/2022,16:00:00,Typologie_Magasin_05,NaN,TV3,CL1_29,CL2_48,...,FedasNum1482,FedasLib477,CGA6,MCR69542,MCL138327,NPS3,1,"69,105,277,644,915,800","56,152,658,157,577,600","12,664,219,748,875,700"
4,PDV-id-00420,TPV_400,TID00000573995,31/01/2022,15:00:00,Typologie_Magasin_05,N_262364,TV3,CL1_29,CL2_48,...,FedasNum1482,FedasLib477,CGA6,MCR69368,MCL138325,NPS3,1,"11,047,630,386,167,200","89,754,408,799,072,100","60,747,070,340,135,500"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543056,PDV-id-00200,TPV_711,TID000001983968,17/03/2022,16:00:00,Typologie_Magasin_05,N_1731337,TV3,CL1_10,CL2_72,...,FedasNum500,FedasLib1337,CGA11,MCR110778,MCL113595,NPS2,1,"45,978","37,375,209,269,683,600","30,476,496,306,237,400"
543057,PDV-id-00192,TPV_411,TID000001797562,17/03/2022,10:00:00,Typologie_Magasin_05,NaN,TV3,CL1_10,CL2_72,...,FedasNum500,FedasLib1337,CGA11,MCR110778,MCL113595,NPS2,1,"45,978","37,375,209,269,683,600","30,167,612,897,728,300"
543058,PDV-id-00398,TPV_92,TID000007834967,18/03/2022,13:00:00,Typologie_Magasin_05,NaN,TV3,CL1_10,CL2_72,...,FedasNum500,FedasLib1337,CGA11,MCR110778,MCL113595,NPS2,1,"45,978","37,375,209,269,683,600","30,270,574,033,898,000"
543059,PDV-id-00446,TPV_793,TID000002957223,17/03/2022,12:00:00,Typologie_Magasin_05,NaN,TV3,CL1_10,CL2_72,...,FedasNum500,FedasLib1337,CGA11,MCR110778,MCL113595,NPS2,1,"45,978","37,375,209,269,683,600","30,167,612,897,728,300"
543060,PDV-id-00226,TPV_718,TID000005648532,14/03/2022,17:00:00,Typologie_Magasin_05,NaN,TV3,CL1_10,CL2_72,...,FedasNum500,FedasLib1337,CGA11,MCR110778,MCL113595,NPS2,1,"-45,978","-37,375,209,269,683,600","-30,476,496,306,237,400"

### Previewing the dataframe

In [43]:
print(df.head())

  Point_de_Vente Numero_TPV Numero_Transaction Date_Transaction     Heure  \
0   PDV-id-00562    TPV_783    TID000002834579       31/01/2022  16:00:00
1   PDV-id-00240    TPV_769    TID000002759437       31/01/2022  18:00:00
2   PDV-id-00173    TPV_610    TID000006033571       31/01/2022  15:00:00
3   PDV-id-00400    TPV_586      TID0000048672       31/01/2022  16:00:00
4   PDV-id-00420    TPV_400     TID00000573995       31/01/2022  15:00:00

      Typologie_Magasin Numero_Fidelite Type_de_Vente Univers_Produit  \
0  Typologie_Magasin_05       N_2563125           TV3           CL1_9
1  Typologie_Magasin_05       N_1420193           TV3           CL1_9
2  Typologie_Magasin_05             NaN           TV3           CL1_9
3  Typologie_Magasin_05             NaN           TV3          CL1_29
4  Typologie_Magasin_05        N_262364           TV3          CL1_29

  Segment_Produit  ...  Fedas_Numero Fedas_Libelle Cible_Genre_Age  \
0          CL2_51  ...  FedasNum2138   FedasLib522            CGA6
1          CL2_51  ...  FedasNum2138   FedasLib522            CGA6
2          CL2_51  ...  FedasNum2138   FedasLib522            CGA6
3          CL2_48  ...  FedasNum1482   FedasLib477            CGA6
4          CL2_48  ...  FedasNum1482   FedasLib477            CGA6

  Modele_Couleur_Ref Modele_Couleur_Libelle Type_de_vente_NPS Quantite_Vendue  \
0           MCR37031               MCL63642              NPS3               1
1          MCR173774              MCL103648              NPS3               1
2          MCR173774              MCL103648              NPS3               1
3           MCR69542              MCL138327              NPS3               1
4           MCR69368              MCL138325              NPS3               1

               CA_Net_TTC               CA_Net_HT     Marge_Nette_Magasin
0  23,035,092,548,305,200  18,714,557,910,757,400  68,160,272,144,355,400
1  36,846,934,040,269,100  29,936,105,116,967,700  68,983,961,233,713,200
2  29,484,918,461,830,700  23,961,462,289,001,500                5.15E+14
3  69,105,277,644,915,800  56,152,658,157,577,600  12,664,219,748,875,700
4  11,047,630,386,167,200  89,754,408,799,072,100  60,747,070,340,135,500

[5 rows x 22 columns]

In [44]:
#for row in cursor.execute('''SELECT * FROM D1'''):
#    print(row)

In [45]:
#for row in cursor.execute('''SELECT * FROM D2'''):
#    print(row)

In [46]:
#for row in cursor.execute('''SELECT * FROM D3'''):
#    print(row)

### Checking for Duplicate Rows in the DataFrame

In [47]:
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 1

### Printing duplicate rows in a DataFrame

In [48]:
duplicate_rows = df[df.duplicated()]
print(duplicate_rows)

       Point_de_Vente Numero_TPV Numero_Transaction Date_Transaction  \
424228   PDV-id-00311        NaN     TID00000535830       16/02/2022

           Heure     Typologie_Magasin Numero_Fidelite Type_de_Vente  \
424228  10:00:00  Typologie_Magasin_05       N_2043570           TV3

       Univers_Produit Segment_Produit  ... Fedas_Numero Fedas_Libelle  \
424228          CL1_21           CL2_4  ...  FedasNum740  FedasLib1866

       Cible_Genre_Age Modele_Couleur_Ref Modele_Couleur_Libelle  \
424228           CGA11           MCR95737               MCL11988

       Type_de_vente_NPS Quantite_Vendue CA_Net_TTC  CA_Net_HT  \
424228              NPS2               2          0          0

           Marge_Nette_Magasin
424228  -3,006,465,176,155,860

[1 rows x 22 columns]

### To diplay the duplicates

In [49]:
all_duplicates = df[df.duplicated(keep=False)]
print(all_duplicates)

       Point_de_Vente Numero_TPV Numero_Transaction Date_Transaction  \
424178   PDV-id-00311        NaN     TID00000535830       16/02/2022
424228   PDV-id-00311        NaN     TID00000535830       16/02/2022

           Heure     Typologie_Magasin Numero_Fidelite Type_de_Vente  \
424178  10:00:00  Typologie_Magasin_05       N_2043570           TV3
424228  10:00:00  Typologie_Magasin_05       N_2043570           TV3

       Univers_Produit Segment_Produit  ... Fedas_Numero Fedas_Libelle  \
424178          CL1_21           CL2_4  ...  FedasNum740  FedasLib1866
424228          CL1_21           CL2_4  ...  FedasNum740  FedasLib1866

       Cible_Genre_Age Modele_Couleur_Ref Modele_Couleur_Libelle  \
424178           CGA11           MCR95737               MCL11988
424228           CGA11           MCR95737               MCL11988

       Type_de_vente_NPS Quantite_Vendue CA_Net_TTC  CA_Net_HT  \
424178              NPS2               2          0          0
424228              NPS2               2          0          0

           Marge_Nette_Magasin
424178  -3,006,465,176,155,860
424228  -3,006,465,176,155,860

[2 rows x 22 columns]

### Removing Duplicate Rows from the DataFrame

In [50]:
df=df.drop_duplicates()
df

,Point_de_Vente,Numero_TPV,Numero_Transaction,Date_Transaction,Heure,Typologie_Magasin,Numero_Fidelite,Type_de_Vente,Univers_Produit,Segment_Produit,...,Fedas_Numero,Fedas_Libelle,Cible_Genre_Age,Modele_Couleur_Ref,Modele_Couleur_Libelle,Type_de_vente_NPS,Quantite_Vendue,CA_Net_TTC,CA_Net_HT,Marge_Nette_Magasin
0,PDV-id-00562,TPV_783,TID000002834579,31/01/2022,16:00:00,Typologie_Magasin_05,N_2563125,TV3,CL1_9,CL2_51,...,FedasNum2138,FedasLib522,CGA6,MCR37031,MCL63642,NPS3,1,"23,035,092,548,305,200","18,714,557,910,757,400","68,160,272,144,355,400"
1,PDV-id-00240,TPV_769,TID000002759437,31/01/2022,18:00:00,Typologie_Magasin_05,N_1420193,TV3,CL1_9,CL2_51,...,FedasNum2138,FedasLib522,CGA6,MCR173774,MCL103648,NPS3,1,"36,846,934,040,269,100","29,936,105,116,967,700","68,983,961,233,713,200"
2,PDV-id-00173,TPV_610,TID000006033571,31/01/2022,15:00:00,Typologie_Magasin_05,NaN,TV3,CL1_9,CL2_51,...,FedasNum2138,FedasLib522,CGA6,MCR173774,MCL103648,NPS3,1,"29,484,918,461,830,700","23,961,462,289,001,500",5.15E+14
3,PDV-id-00400,TPV_586,TID0000048672,31/01/2022,16:00:00,Typologie_Magasin_05,NaN,TV3,CL1_29,CL2_48,...,FedasNum1482,FedasLib477,CGA6,MCR69542,MCL138327,NPS3,1,"69,105,277,644,915,800","56,152,658,157,577,600","12,664,219,748,875,700"
4,PDV-id-00420,TPV_400,TID00000573995,31/01/2022,15:00:00,Typologie_Magasin_05,N_262364,TV3,CL1_29,CL2_48,...,FedasNum1482,FedasLib477,CGA6,MCR69368,MCL138325,NPS3,1,"11,047,630,386,167,200","89,754,408,799,072,100","60,747,070,340,135,500"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543056,PDV-id-00200,TPV_711,TID000001983968,17/03/2022,16:00:00,Typologie_Magasin_05,N_1731337,TV3,CL1_10,CL2_72,...,FedasNum500,FedasLib1337,CGA11,MCR110778,MCL113595,NPS2,1,"45,978","37,375,209,269,683,600","30,476,496,306,237,400"
543057,PDV-id-00192,TPV_411,TID000001797562,17/03/2022,10:00:00,Typologie_Magasin_05,NaN,TV3,CL1_10,CL2_72,...,FedasNum500,FedasLib1337,CGA11,MCR110778,MCL113595,NPS2,1,"45,978","37,375,209,269,683,600","30,167,612,897,728,300"
543058,PDV-id-00398,TPV_92,TID000007834967,18/03/2022,13:00:00,Typologie_Magasin_05,NaN,TV3,CL1_10,CL2_72,...,FedasNum500,FedasLib1337,CGA11,MCR110778,MCL113595,NPS2,1,"45,978","37,375,209,269,683,600","30,270,574,033,898,000"
543059,PDV-id-00446,TPV_793,TID000002957223,17/03/2022,12:00:00,Typologie_Magasin_05,NaN,TV3,CL1_10,CL2_72,...,FedasNum500,FedasLib1337,CGA11,MCR110778,MCL113595,NPS2,1,"45,978","37,375,209,269,683,600","30,167,612,897,728,300"
543060,PDV-id-00226,TPV_718,TID000005648532,14/03/2022,17:00:00,Typologie_Magasin_05,NaN,TV3,CL1_10,CL2_72,...,FedasNum500,FedasLib1337,CGA11,MCR110778,MCL113595,NPS2,1,"-45,978","-37,375,209,269,683,600","-30,476,496,306,237,400"

### Checking the Dimensions of the DataFrame

In [51]:
print(df.shape)

(543060, 22)

### Calculating Missing Values for Each Column

In [52]:
missing_values = df.isnull().sum()
print(missing_values)

Point_de_Vente                 0
Numero_TPV                285943
Numero_Transaction             0
Date_Transaction               0
Heure                          0
Typologie_Magasin              0
Numero_Fidelite           131976
Type_de_Vente                  0
Univers_Produit              240
Segment_Produit              240
Famille_Produit              240
Sous_Famille_Produit         240
Fedas_Numero                   0
Fedas_Libelle                  0
Cible_Genre_Age                0
Modele_Couleur_Ref             0
Modele_Couleur_Libelle         0
Type_de_vente_NPS              0
Quantite_Vendue                0
CA_Net_TTC                     0
CA_Net_HT                      0
Marge_Nette_Magasin            0
dtype: int64

### Filling Missing Values in 'Numero_Fidelite' Column

In [53]:
df['Numero_Fidelite'].fillna('DefaultValue', inplace=True)

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

### Filling Missing Values in 'Numero_TPV' Column

In [54]:
df['Numero_TPV'].fillna('DefaultValue', inplace=True)

### Filling Missing Values in 'Segment_Produit' Column

In [55]:
df['Segment_Produit'].fillna('DefaultValue', inplace=True)

### Filling Missing Values in 'Famille_Produit' Column

In [56]:
df['Famille_Produit'].fillna('DefaultValue', inplace=True)

### Filling Missing Values in 'Sous_Famille_Produit' Column

In [57]:
df['Sous_Famille_Produit'].fillna('DefaultValue', inplace=True)

### Filling Missing Values in 'Univers_Produit' Column

In [58]:
df['Univers_Produit'].fillna('DefaultValue', inplace=True)

### Installing Necessary Libraries for Data Processing and Excel Operations

In [59]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: openpyxl in c:\users\hp\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\hp\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution - (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\users\hp\anaconda3\lib\site-packages)

### Importing 'product.xlsx' Data into DataFrame

In [60]:
file_path = "C:\\Users\\HP\\Desktop\\hi\\product.xlsx"

df2 = pd.read_excel(file_path, engine='openpyxl')

### Displaying the dataframe

In [61]:
df2

       CODE_MODELE_COULEUR_ACTUEL  SIGNATURE_PRODUCT
0                            MCR1               True
1                            MCR2               True
2                            MCR3               True
3                            MCR4              False
4                            MCR5              False
...                           ...                ...
209995                  MCR209996              False
209996                  MCR209997              False
209997                  MCR209998              False
209998                  MCR209999              False
209999                  MCR210000              False

[210000 rows x 2 columns]

### Checking for duplicates in the dataframe

In [62]:
num_duplicates = df2.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

### checking the dimensions of the dataframe

In [63]:
print(df2.shape)

(210000, 2)

### Calculating Missing Values for Each Column

In [64]:
missing_values = df2.isnull().sum()
print(missing_values)

CODE_MODELE_COULEUR_ACTUEL    0
SIGNATURE_PRODUCT             0
dtype: int64

### Previewing the First Rows of the DataFrame

In [65]:
print(df2.head())

  CODE_MODELE_COULEUR_ACTUEL  SIGNATURE_PRODUCT
0                       MCR1               True
1                       MCR2               True
2                       MCR3               True
3                       MCR4              False
4                       MCR5              False

### checking for the duplicates

In [66]:
num_duplicates = df2.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

### checking for the missing values for each column

In [67]:
missing_values = df2.isnull().sum()
print(missing_values)

CODE_MODELE_COULEUR_ACTUEL    0
SIGNATURE_PRODUCT             0
dtype: int64

### Creating the 'Transactions' Table in the Database

In [68]:
cursor.execute ("""CREATE TABLE Transactions (
    Point_de_Vente VARCHAR(20) NOT NULL,
    Numero_TPV VARCHAR(20) NOT NULL,
    Numero_Transaction VARCHAR(25) NOT NULL,
    Date_Transaction DATE NOT NULL, 
    Heure TEXT NOT NULL, -- or TIME if consistently in HH:MM:SS format
    Typologie_Magasin VARCHAR(30) NOT NULL,
    Numero_Fidelite CHAR(15) NOT NULL,
    Type_de_Vente CHAR(3) NOT NULL,
    Univers_Produit CHAR(10),
    Segment_Produit CHAR(10),
    Famille_Produit CHAR(10),
    Sous_Famille_Produit CHAR(10),
    Fedas_Numero CHAR(20),
    Fedas_Libelle CHAR(20),
    Cible_Genre_Age CHAR(4),
    Modele_Couleur_Ref VARCHAR(30),
    Modele_Couleur_Libelle VARCHAR(30),
    Type_de_vente_NPS  CHAR(4),
    Quantite_Vendue INTEGER NOT NULL,
    CA_Net_TTC INTEGER NOT NULL,
    CA_Net_HT INTEGER NOT NULL,
    Marge_Nette_Magasin INTEGER NOT NULL)""")

OperationalError: table Transactions already exists

cursor.execute("PRAGMA table_info(Transactions);")
columns_info = cursor.fetchall()
for column in columns_info:
    print(column)

import os
print(os.getcwd())

for filename in os.listdir(os.getcwd()):
    if filename.endswith(".db"):  # assuming your SQLite database has a .db extension
        print(filename)

### Creating the 'Products' Table in the Database

In [69]:
cursor.execute("""
CREATE TABLE Products (
    CODE_MODELE_COULEUR_ACTUEL VARCHAR(50) NOT NULL PRIMARY KEY,
    SIGNATURE_PRODUCT INTEGER NOT NULL CHECK (SIGNATURE_PRODUCT IN (0, 1))
)
""")

OperationalError: table Products already exists

df['Numero_Fidelite'].fillna('DefaultValue', inplace=True)

cursor.execute("PRAGMA table_info(products);")
columns_info = cursor.fetchall()
for column in columns_info:
    print(column)

### Database Update: Appending to "Transactions table"

In [70]:
df.to_sql('Transactions', connection, if_exists='append', index=False)

connection.commit()

#### Listing Column Names of the DataFrame

In [71]:
print(df.columns.tolist())

['Point_de_Vente', 'Numero_TPV', 'Numero_Transaction', 'Date_Transaction', 'Heure', 'Typologie_Magasin', 'Numero_Fidelite', 'Type_de_Vente', 'Univers_Produit', 'Segment_Produit', 'Famille_Produit', 'Sous_Famille_Produit', 'Fedas_Numero', 'Fedas_Libelle', 'Cible_Genre_Age', 'Modele_Couleur_Ref', 'Modele_Couleur_Libelle', 'Type_de_vente_NPS', 'Quantite_Vendue', 'CA_Net_TTC', 'CA_Net_HT', 'Marge_Nette_Magasin']

#### For example : Fetching Records with Numero_Transaction 'TID0000048821

cursor.execute("select * from Transactions where Point_de_Vente= 'PDV-id-00562'")
results = cursor.fetchall()
print(results)

### Database Update: Appending to "Products table"

In [75]:
df2.to_sql('Products', connection, if_exists='append', index=False)

connection.commit()

IntegrityError: UNIQUE constraint failed: Products.CODE_MODELE_COULEUR_ACTUEL

#### Listing Column Names of the DataFrame

In [76]:
print(df2.columns.tolist())

['CODE_MODELE_COULEUR_ACTUEL', 'SIGNATURE_PRODUCT']

#### For example : Retrieving Products with 'SIGNATURE_PRODUCT' Set to 0

cursor.execute("select * from products where SIGNATURE_PRODUCT = 0")
results = cursor.fetchall()
print(results)

### Tasks

####  1 ) Aggregating Total Margin for Signature Products over the Last 2 Months

In [78]:
# SQL Query
sql_query_1 = """
SELECT p.SIGNATURE_PRODUCT, SUM(t.Marge_Nette_Magasin) as Total_Margin
FROM products p
JOIN Transactions t ON p.CODE_MODELE_COULEUR_ACTUEL = t.Modele_Couleur_Ref
WHERE t.Date_Transaction >= date('now', '-2 months')
GROUP BY p.SIGNATURE_PRODUCT;
"""

# Execute the query
cursor.execute(sql_query_1)

#Fetch and display the results
results = cursor.fetchall()
for row in results:
    print(row)


# Fetch and display the results
#results = cursor.fetchall()
#print(results)

(0, 4.906302000025996e+18)
(1, 2.0329110000512996e+18)

####  2) Revenue Analysis: Daily Totals by "Transaction Date" (Chiffre d'Affaires_Net_Toutes Taxes Comprises = CA_Net_TTC)

In [79]:
# SQL Query
sql_query_2 = """
SELECT t.Date_Transaction, SUM(t.CA_Net_TTC) as Daily_Revenue
FROM Transactions t
GROUP BY t.Date_Transaction
ORDER BY t.Date_Transaction DESC;
"""

# Execute the query
cursor.execute(sql_query_2)

# Fetch results
results = cursor.fetchall()

# Fetch column names from the cursor description
columns = [desc[0] for desc in cursor.description]


# Convert results to a DataFrame
df_results = pd.DataFrame(results, columns=columns)

# Display the DataFrame
display(df_results)

   Date_Transaction  Daily_Revenue
0        31/03/2022   5.023449e+06
1        31/01/2022   6.892140e+16
2        30/03/2022   8.327841e+06
3        30/01/2022   8.908000e+05
4        29/03/2022   5.507609e+06
..              ...            ...
63       04/01/2022   6.800000e+01
64       03/02/2022   1.120300e+04
65       03/01/2022   1.530000e+03
66       02/02/2022   2.538100e+04
67       01/02/2022   1.703400e+04

[68 rows x 2 columns]

#### 3) Top 10  "Modele_Couleur_Ref" by Units Sold

In [80]:
# SQL Query
sql_query_3 = """
SELECT t.Modele_Couleur_Ref, SUM(t.Quantite_Vendue) as Total_Units_Sold
FROM Transactions t
GROUP BY t.Modele_Couleur_Ref
ORDER BY Total_Units_Sold DESC
LIMIT 10;
"""

# Execute the query
cursor.execute(sql_query_3)

# Fetch results
results = cursor.fetchall()

# Fetch column names from the cursor description
columns = [desc[0] for desc in cursor.description]


# Convert results to a DataFrame
df_results = pd.DataFrame(results, columns=columns)

# Display the DataFrame
display(df_results)

  Modele_Couleur_Ref  Total_Units_Sold
0           MCR59750             63427
1           MCR19832             41174
2           MCR59751             37842
3           MCR94923             34425
4            MCR1987             33609
5           MCR55929             30073
6           MCR53294             27557
7           MCR94987             24633
8           MCR94986             24038
9           MCR66347             23987

#### 4) Number of Transactions per store

In [81]:
sql_query_4 = """
SELECT t.Point_de_Vente, COUNT(DISTINCT t.Numero_Transaction) as Total_Transactions
FROM Transactions t
GROUP BY t.Point_de_Vente
ORDER BY Total_Transactions DESC;
"""

# Execute the query
cursor.execute(sql_query_4)

# Fetch results
results = cursor.fetchall()

# Fetch column names from the cursor description
columns = [desc[0] for desc in cursor.description]


# Convert results to a DataFrame
df_results = pd.DataFrame(results, columns=columns)

# Display the DataFrame
display(df_results)

    Point_de_Vente  Total_Transactions
0      PDV-id-0063                2906
1     PDV-id-00450                2814
2     PDV-id-00119                2640
3     PDV-id-00363                2609
4     PDV-id-00157                2606
..             ...                 ...
656    PDV-id-0032                   1
657   PDV-id-00306                   1
658   PDV-id-00283                   1
659   PDV-id-00275                   1
660   PDV-id-00108                   1

[661 rows x 2 columns]

### To close the connection

In [82]:
connection.close()

### Checking SQLite Database Connection Status Using a Flag

In [83]:
is_closed = False

# ... some database operations ...

connection.close()
is_closed = True

# Later in the code
if is_closed:
    print("The connection is closed.")
else:
    print("The connection is still open.")

The connection is closed.

### To check the version of pandas library

In [84]:

pd.__version__

'1.3.4'

### To check the version of openpyxl library

In [85]:
import openpyxl
openpyxl.__version__

'3.0.9'